 <div class = "wrapper">
  <div class = "container">
    <div class = "cards">
     <% @necklaces.each do |necklace| %>
      <div class = "card">
         <div class ="name"><%= necklace.name %></div>
         <div class = "description"><%= necklace.description%></div>
         <div class ="photo"><%= cl_image_tag necklace.photo %></div>
      </div> <!-- end card -->
    <% end %>
    </div> <!-- end cards -->
        <%= link_to "Page principale", products_path  %>

  </div> <!-- end contaienr -->
</div> <!-- end wrapper -->

