<div class = "pagecontainer"><h1 class="title-home">Kessentine Gold by Mimi </h1>
 <p class="tagline-home">Des bijoux au style intemporel et féminin , un mix de minimalisme et de sobriété concetré dans des pièces uniques, simples et épurées.</p></div>
