<div class = "wrapper">
  <div class = "container">
    <div class = "cards">
     <% @earings.each do |earing| %>
      <div class = "card">
         <div class ="name"><%= earing.name %></div>
         <div class = "description"><%= earing.description%></div>
      </div> <!-- end card -->
    <% end %>
    </div> <!-- end cards -->
    <%= link_to "Page principale", products_path  %>

  </div> <!-- end contaienr -->
</div> <!-- end wrapper -->
