  <div class = "container">
  <% @products.each do |product| %>
  <div class = "cards">

  <div class = "name"><%= product.name %></div>
  <div class = "description"><%= product.description %></div>
  <% end %>

  </div> <!-- end cards -->
</div> <!-- end container -->
