 <div class = "wrapper">
  <div class = "container">
    <div class = "cards">
     <% @rings.each do |ring| %>
      <div class = "card">
         <div class ="name"><%= ring.name %></div>
         <div class = "description"><%= ring.description%></div>
      </div> <!-- end card -->
    <% end %>
    </div> <!-- end cards -->
        <%= link_to "Page principale", products_path  %>

  </div> <!-- end contaienr -->
</div> <!-- end wrapper -->
